# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.builtin
*.s
drivers/video/*
drivers/tty/*
drivers/scsi/*
drivers/pim/pim0.c
drivers/pim/pim1.c
fs/nova/file0.c
fs/nova/file1.c
fs/nova/multistack_read_write0.h
fs/nova/multistack_read_write1.h

